$color-primary: rgb(202, 230, 241);
$color-shadow: rgb(82, 80, 80);
$color-burger:rgb(34, 67, 168);
$color-menu: rgb(142, 195, 216);
$color-navigation:rgb(11, 38, 117);
$color-submenu:rgb(11, 28, 80);
$color-switcher:rgb(204, 204, 204);
$color-text:rgb(0, 0, 0);
$color-background:rgb(255, 255, 255);
$color-play: rgb(33, 116, 69);
$color-shadow_hover:rgb(15, 13, 13);
$color-sort:rgb(230, 230, 230);

$content-width: 1197px;
$tablet-width: 767px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;