.ul-statistics{
  background-color: $color-background;
  border-radius: 5px;
  box-shadow: 3px 3px 6px $color-shadow;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  width: 250px;
  min-height: 40px;
  margin: 10px 0;
  @include media-tablet {
    position: absolute;
  }
  &.active{
    li{
      display: block;
    }
  }
  li{
    height: 35px;
    border-radius: 5px;
    background-color: $color-sort;
    margin: 5px;
    display:none;
  }
}