.content{
  @extend %font;
  @include font(27px,32px);
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 90px 40px 40px;
  &.statistic{
    padding-top: 150px;
  }
}
.result-lose{
  background: url('../img/lose.jpg');
  .result-text{
    text-align: center;
    .error{
      margin: 0px;
    }
  }
}
.result-win{
  background: url('../img/win.jpg');
}
.result-win,.result-lose{
  z-index: 2;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  height: 100vh;
}

