.sidebar{
  padding: auto;
  background-color: $color-menu;
  height: 100vh;
  @include font(28px);
  width: 270px;
  position: fixed;
  top: 0;
  z-index: 1;
  left: -270px;
  padding: 50px 0 0 50px;
  transition: 0.5s ease;
  color: $color-navigation;
  h3{
    color: $color-navigation;
  }
  li{
    cursor: pointer;
    padding: 5px;
    
  }
  .active{
    text-decoration: underline;
  }
  &.show{
    left:0;
  }
}
.menu__categories{
  &.active{
    .subcategories{
      display: block;
    }
  }
}
.subcategories{
  display: none;
  li{
    @include font(24px);
    color:$color-submenu;
  }
}